{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Spelling Bee Game</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <div class="game-container">
        <h1 class="title">Spelling Bee</h1>
        
        <div class="score-board">Score: 0 🏆</div>
        <div class="timer-container">
            <svg class="timer-svg">
                <circle class="timer-circle" cx="50%" cy="50%" r="45"></circle>
            </svg>
            <div class="timer-text" id="timer">15</div>
        </div>
        
        <div class="word-display">
            <input type="text" id="wordInput" class="word-input" autocomplete="off" spellcheck="false">
        </div>

        <div class="controls-container">
            <div class="controls">
                <button class="btn speak-btn" id="speakBtn">Hear Word</button>
                <button class="btn" id="submitBtn">Check Answer</button>
            </div>
            <div class="controls">
                <button id="hintBtn" class="btn hint-btn">Hint</button>
                <button class="btn next-btn" id="nextBtn">Next Word</button>
            </div>
        </div>
        <div class="exit-container">
            <button class="btn exit-btn" id="exitBtn">Exit</button>
        </div>
        
        
        <!-- <div class="voice-selector">
            <label>Select Voice:</label>
            <select id="voiceSelect"></select>
        </div> -->

        <div class="feedback-message" id="feedbackMessage">
            <span id="closeFeedback">×</span>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>